/*************************
*
* BASE ELEMENTS
*
*************************/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

html,
body {}

header {}

main {}

section {}

aside {}

footer {}

ul {}

ol {}

li {}


/*************************
*
* TYPOGRAPHY
*
*************************/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

a {}

p {
	line-height: 1.5;
  	font-size: 20px;
  	font-weight: 300;
}

blockquote {}

strong {}

i {}


/*************************
*
* MEDIA
*
*************************/

svg,
img,
embed,
object {
    display: block;
    height: auto;
    max-width: 100%;
}


img {}

svg {}

figure {}

video {}

/*************************
*
* SPECIFIC SITE CSS
*
*************************/

.mast-head {}

a.link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    padding-bottom: 7px;
}

a.link:hover {
    cursor: pointer;
}

a.link:hover:before,
a.link:focus:before,
a.link:active:before {
    right: 0;
}

a.link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #f7797d, #FBD786, #C6FFDD);
    background: -o-linear-gradient(left, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.container,
main.content--container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.flex-col {
	display: flex;
	flex-wrap: wrap;
}

.flex-col .content {
	width: 48%;
	margin-bottom: 40px;
}

.site-title {

    color: black;
    font-size: 60px;
    font-weight: 500;
}

.tagline {
    color: #00d286;
    font-size: 30px;
}

.client-container,
.service-container {
	margin-left: 20px;
}
.client-name,
.service-name {
	margin-bottom: 10px;
  	font-size: 18px;
}

.mast-foot {
    font-weight: 300;
    letter-spacing: 0.5px;
    width: 100%;
    padding-top: 20px;
}

.mast-foot .container {
    border-top: 1px solid black;
    padding-top: 20px;
}

.mast-foot .company-info {
    display: flex;
    align-items: center;
}

.mast-foot a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.mast-foot .company-info h3,
.mast-foot .company-info div {
    letter-spacing: 1.2px;
    margin-right: 30px;
    font-weight: 300;
}
.mast-foot .company-info .phone,
.mast-foot .company-info .address {
	padding-bottom: 7px;
}

.mast-foot ul {
    list-style: none;
    padding: 0 10px;
    border-left: 1px solid black;
}

.mast-foot ul li {
    margin-bottom: 10px;
}

@media (max-width: 599.99px) {
	.hero {
		text-align: center;
	}
	.site-title {
		font-size: 40px;
	}
	.tag-line {
		font-size: 26px;
	}
	.flex-col .content {
		width: auto;
	}
	.mast-foot .company-info {
		display: block;
	}
}